<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%thread] %date{yyyy-MM-dd HH:mm:ss} %-5level %logger{0} - %msg%n</pattern>
            <!--  <charset class="java.nio.charset.Charset">gbk</charset>-->
        </encoder>
    </appender>

    <logger name="org.hibernate.SQL">
        <level value="INFO" />
    </logger>

    <logger name="org.hibernate.type">
        <level value="INFO" />
    </logger>

    <logger name="org.apache.activemq">
        <level value="ERROR" />
    </logger>

    <logger name="com.schooner.MemCached">
        <level value="ERROR" />
    </logger>

    <logger name="ch.qos.logback">
        <level value="WARN" />
    </logger>

    <logger name="cn.edu.nju.software.jzs">
        <level value="DEBUG" />
    </logger>

    <logger name="org.springframework">
        <level value="INFO" />
    </logger>

    <logger name="net.rubyeye.xmemcached">
        <level value="WARN" />
    </logger>

    <logger name="com.google.code">
        <level value="WARN" />
    </logger>

    <logger name="org.apache.zookeeper">
        <level value="WARN" />
    </logger>

    <logger name="com.mchange.v2">
        <level value="WARN" />
    </logger>


    
    <logger name="org.apache.http" additivity="true">
        <level value="INFO" />
    </logger>

    <root>
        <level value="INFO" />
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>

