<script type="text/ng-template"  id="tree_item_renderer.html">
    <span class="label label-success" style="font-size:100%;">{{::data.percentage * 100 || 0 | number:2}}%</span>
    <span class="label label-info" style="font-size:100%;">{{::data.duration / 1000 || 0 | number: 0}}ms</span>
    <span>{{::data.clazzName}}</span><span>{{::data.methodName}}()</span>

    <ul>
        <li ng-repeat="data in ::data.children" ng-include="'tree_item_renderer.html'"></li>
    </ul>
</script>
<div>
    <div class="panel panel-info">
        <div class="panel-heading">计划执行记录

        </div>
        <div class="panel-body tree">
            <ul>
                <li>
                <span>ROOT</span>
                    <span class="badge badge-success">{{$ctrl.report.duration / 1000 }}ms</span>
                </li>
                <ul>
                <li ng-repeat="data in ::$ctrl.report.children" ng-include="'tree_item_renderer.html'"></li>

                </ul>
            </ul>
        </div>
    </div>
</div>
