body { 
    padding-top: 70px;
}

span.left-menu-first {
    padding-left: 8px;
}

span.left-menu-second {
    padding-left: 24px;
}

.nav-header.collapsed > span.glyphicon-chevron-toggle:before {
    content: "\e114";
}

.nav-header > span.glyphicon-chevron-toggle:before {
    content: "\e113";
}
                
form.login-form label {
    padding-right: 0px;
}

select {
    padding: 3px 20px;
    color: #568188 !important;
}


#planTable .jqx-grid-cell-selected-bootstrap {
    background-color: #3A87AD !important;
}

.info-field {
    padding-top: 15px;
}

.assignmentstatus {
    font-size: 14px;/*margin-top: 8px;*/ margin-right: 8px;
}

#jqxNotificationDefaultContainer-top-right {
    right: 0px !important; 
}